<router-outlet style="width: 100%"></router-outlet>
<div class="main">
  <h3 class="ui-widget">Cadastro de Itens</h3>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-4">
          <div class="ui-inputgroup">            
              <input type="text" [(ngModel)]="item.name" pInputText placeholder="Nome do item">         
          </div>
      </div>
      <div class="ui-g-12 ui-md-2">
          <div class="ui-inputgroup">
                <p-dropdown [options]="units" placeholder="Unidade de medida" [(ngModel)]="item.unit"></p-dropdown>                           
          </div>
      </div>          
      <div class="ui-g-12 ui-md-2">
          <div class="ui-inputgroup">                        
              <input type="text" [(ngModel)]="item.amount" pInputText placeholder="Quantidade"> 
              <span class="ui-inputgroup-addon">$</span>
          </div>
      </div>  
      <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup">   
                  <span class="ui-inputgroup-addon">$</span>
                  <input type="text" pInputText placeholder="Preço">                        
            </div>
        </div>  
        <div class="ui-g-12 ui-md-2">
            <div class="ui-inputgroup ui-widget">                 
                <p-checkbox [(ngModel)]="item.prshbl" label="Produto Perecível" binary="true" ></p-checkbox>                          
            </div>
        </div>
  </div>
  <div class="ui-g ui-fluid">
      <div class="ui-g-12 ui-md-2">
          <div class="ui-inputgroup">
              <p-calendar placeholder="Data de validade" ></p-calendar>                                              
          </div>
      </div>      
      <div class="ui-g-12 ui-md-3">
          <div class="ui-inputgroup">
              <p-calendar placeholder="Data de fabricação"></p-calendar>                                              
          </div>
      </div>      
  </div>
  <div class="btnContainer">
        <p-button label="Cancelar" class="btn" ></p-button>
        <p-button label="Salvar" class="btn" (click)="save()"></p-button>
  </div>
  
</div> 