<router-outlet style="width: 100%"></router-outlet>
<div class="ui-g ui-fluid" *ngIf="item">
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="vin">Nome</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="name" [(ngModel)]="item.name" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="year">Unidade de Medida</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="unit" [(ngModel)]="item.unit" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="brand">Quantidade</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="amount" [(ngModel)]="item.amount" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="color">Preço</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="price" [(ngModel)]="item.price" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="color">É Perecivel</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="prshbl" [(ngModel)]="item.prshbl" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="color">Data de validade</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="valDate" [(ngModel)]="item.valDate" />
        </div>
    </div>
    <div class="ui-g-12">
        <div class="ui-g-4">
            <label for="color">Data de fabricação</label>
        </div>
        <div class="ui-g-8">
            <input pInputText id="fabDate" [(ngModel)]="item.fabDate" />
        </div>
    </div>
</div>
<p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
        <button type="button" pButton icon="fa fa-close" (click)="cancel()" label="Cancelar"></button>
        <button type="button" pButton icon="fa fa-check" (click)="save()" label="Salvar"></button>
    </div>
</p-footer>